<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyTradeUpApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTradeUp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CreateProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AddListingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ListingDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ProfileViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AllReviewsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".OffersActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ReviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AdminDashboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MyOffersActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PaymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ArchivedListingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PreviewListingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".BlockedUsersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Provider for FileProvider if using file sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>